# VirtualEnv
MAC_ENV_PY3

# python library load cache
*.pyc

# bin input
bin/aquacrop_plgu_in_v5_0/LIST/*
# bin output
bin/aquacrop_plgu_in_v5_0/OUTP/

# AquaCrop Experimental output
*.OUT

# .Irr file (written by main.py and read by aquacrop-plugin)
bin/aquacrop_v5_0/DATA/Example.Irr